---
import "../styles/globals.css";
import logo from "../assets/logo.svg";
import frontPage from "../assets/static-assets/front page.png";
import secondHero from "../assets/static-assets/second.png";
import HomeNavbar from "@components/HomeNavbar.svelte";
import HeroSection from "@components/HeroSection.astro";
import CTASection from "@components/CTASection.astro";
import Fly from "@components/Fly.svelte";
---

<!DOCTYPE html>
<html lang="en" class="p-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Lcctanauan - The Premiere Catholic Educational Institution in Tanauan,
      Batangas
    </title>
    <link rel="shortcut icon" href={logo.src} type="image/x-icon" />
    <link rel="canonical" href="https://lcctanauan.edu.ph" />
    <link rel="shortlink" href="https://lcctanauan.edu.ph" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="p-0">
    <HomeNavbar client:load fixed={false} />
    <HeroSection bgAlt="background" bgSrc={frontPage}>
      <div
        class="h-screen absolute top-0 w-full flex justify-center items-center"
      >
        <div class="max-w-3xl">
          <Fly client:load>
            <h1 class="leading-normal text-white text-6xl text-center">
              The Premiere Catholic Institution in Tanauan, Batangas
            </h1>
          </Fly>
        </div>
      </div>
    </HeroSection>
    <section class="min-h-screen">
      <div class="max-w-7xl m-auto">
        <CTASection
          imageMeta={secondHero}
          alt="campus"
          fit={true}
          reverse={false}
        >
          <h2>
            Our mission: provide innovative education for lifelong learning
          </h2>
          <p>
            In La Consolacion College Tanauan, we aim to create sustainable
            community involment and extension programs. We also utilize
            functional research projects for the development of ULCC-SL
            campuses, industry partners, educational pedagogies, and
            communities.
          </p>
        </CTASection>
        <CTASection
          imageMeta={frontPage}
          alt="campus"
          fit={true}
          reverse={true}
        >
          <h2>
            Our vision: to commit ourselves to holistic information of the 21st
            century learners
          </h2>
          <p>
            As we move to a new normal, we have to adapt to the changes. New
            challenges may arise, but it won't really affect the quality of our
            education. We commit ourselves to holistic formation of the 21st
            century learners because It is a necessity for every students.
          </p>
        </CTASection>
      </div>
    </section>
    <HeroSection bgAlt="background" bgSrc={secondHero}>
      <div
        class="h-screen absolute top-0 w-full flex justify-center items-center"
      >
        <div class="max-w-3xl">
          <Fly client:load>
            <h1 class="leading-normal text-white text-6xl text-center">
              Painting successful stories since 1948
            </h1>
          </Fly>
        </div>
      </div>
    </HeroSection>
  </body>
</html>
